<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Projekt</title>
  <style>
    html {
      background-color: rgb(44, 43, 43);
      color: white;
      font-size: 1.5rem;
      font-family: monospace;
      padding: 0 2rem 0 2rem;

    }

    h1,h3 {
      text-align: center;
    }

    ol {
      list-style-type: none;
    }

    ul {
      list-style-type: disc;
    }

    h1,
    p {
      color: #fff;

    }
    a{
      color: white;
    }
  </style>
</head>

<body>
  <h1 id="text"></h1>
  <br>
    <h3>Aplikacja internetowa podsumowująca aktualne zachorowania na covid-19 w Polsce</h3>

  <h3>Aktualne repozytorium projektu - <a href="https://github.com/summarek/covid-19-charts" target="blank">KLIK</a></h3>
  <br>
  <h3>Postęp pracy:</h3>
  <br>
  <p>
  <ol type="1">
    <li>
      <p>Tydzień I <br>
      <ul><li>
          <p>Koncepcja projektu</p>
        </li>
        <li>
          <p>Graf z wybranymi technologiami do projektu - <a href="graf.png" target="blank">KLIK</a></p>
        </li>
        <li>
          <p>Webscraping w celu pozyskania aktualnych danych z google news</p>
        </li>
         <li>
          <p>Pozyskane dane są wysyłane w odpowiedzi na zapytanie http do funkcji firebase - dane są odświeżane co 30 minut</p>
        </li>
        <li>
          <p>Stworzenie bazy danych w mongodb cloud platform - Atlas, połączenie bazy danych z aplikacją, utworzenie kolekcji i schematu</p>
        </li>
        <li>
          <p>Dane z funkcji firebase są automatycznie aktualizowane/zapisywane co 30 minut w nierelacyjnej bazie danych mongodb za pomocą interfejsu mongoose od 26.05.2020, każdego dnia
             baza danych rośnie o 18 dokumentów (16 wojewódźtw + cały kraj + cały świat)</p>
        </li>
        <li><p>Wrzucenie aplikacji w node.js na VPS</p></li>
        <li><p>API posiada jeden endpoint - / - który na zapytanie http zwraca wszystkie dokumenty w bazie danych w formacie JSON - <a href="http://142.93.161.60:3000/" target="blank">KLIK!</a></p></li>
      </ul>
      </p>
      <br>
      <p>Tydzień II <br>
      <ul>
        <li><p>Projektowanie interfejsu graficznego aplikacji internetowej - <a target="blank" href="https://www.figma.com/file/ZT6B87ERphtuuEb00oMo5j/Praktyki?node-id=0%3A1">KLIK</a></p></li>
        <li><p>Zapoznanie sie z biblioteką chart.js</p></li>
      </ul></p>
       <br>
      <p>Tydzień III <br>
      <ul>
        <li><p>Setup projektu w vue.js przy użyciu vue CLI</p></li>
        <li><p>Instalacja potrzebnych paczek</p></li>
        <li><p>Wysyłanie zapytań http do api przy użyciu fetch</p></li>
        <li><p>Wdrażanie interfejsu użytkownika DEMO - <a target="blank" href="https://elated-johnson-156910.netlify.app/#/">KLIK</a></p></li>
        <li><p>Manipulacja danymi z bazy danych, tak aby struktura danych pasowała do dokumentacji chart.js</p></li>
        <li><p>Modyfikacja wykresu liniowego w oparciu o dokumentacje chart.js</p></li>
        <li><p>Implementacja działania biblioteki chart.js w oparciu o dane JSON </p></li>
        <li><p>Manualne dodanie brakujących rekordów do bazy danych</p></li>
      </ul></p>
    </li>
  </ol>
  </p>
  <script>
    const txt = "Robert Skrzyniecki - Projekt praktyki zawodowe";
    const speed = 30;

    let i = 0;
    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("text").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    typeWriter();
  </script>
</body>

</html>